src/v17_v32bis_rx_rrc.h
src/v17_v32bis_tx_rrc.h
src/v22bis_rx_1200_rrc.h
src/v22bis_rx_2400_rrc.h
src/v22bis_tx_rrc.h
src/v27ter_rx_2400_rrc.h
src/v27ter_rx_4800_rrc.h
src/v27ter_tx_2400_rrc.h
src/v27ter_tx_4800_rrc.h
src/v29rx_rrc.h
src/v29tx_rrc.h

INSTALL

.deps
.libs
*.o
*.Po
*.a
*.lo
*.la

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config-h.in
config.log
config.status
config/
configure
doc/Makefile
doc/Makefile.in
doc/doxygen
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
spandsp-sim/Makefile
spandsp-sim/Makefile.in
spandsp3.pc
src/Makefile
src/Makefile.in
src/config.h
src/make_at_dictionary
src/make_cielab_luts
src/make_math_fixed_tables
src/make_modem_filter
src/make_t43_gray_code_tables
src/spandsp3.h
src/stamp-h1
src/t43_gray_code_tables.h
test-data/Makefile
test-data/Makefile.in
test-data/etsi/Makefile
test-data/etsi/Makefile.in
test-data/etsi/fax/Makefile
test-data/etsi/fax/Makefile.in
test-data/itu/Makefile
test-data/itu/Makefile.in
test-data/itu/fax/Makefile
test-data/itu/fax/Makefile.in
test-data/local/Makefile
test-data/local/Makefile.in
tests/Makefile
tests/Makefile.in
